In [1]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [14]:
df_primes = pd.read_csv("primes.csv", names=["primes"], header = None)

In [3]:
df_primes.mean()

1    7.472959e+06
dtype: float64

In [4]:
df_primes.median()

1    7368787.0
dtype: float64

In [5]:
df_primes.shape

(999999, 1)

In [16]:
df_primes["next_prime"] = df_primes.shift(-1)

In [17]:
df_primes

          primes  next_prime
0              1         2.0
1              2         3.0
2              3         5.0
3              5         7.0
4              7        11.0
...          ...         ...
999995  15485807  15485837.0
999996  15485837  15485843.0
999997  15485843  15485849.0
999998  15485849  15485857.0
999999  15485857         NaN

[1000000 rows x 2 columns]